In [31]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [32]:
df = pd.read_csv("DataBase_WeatherRentalAmount_UTC.csv", index_col='FormattedDate')

In [33]:
df.head()

,Temperature,TotalCloudCover,PrecipitationHeight,MeanWindSpeed,Month,Weekday,Hour,Rentals
FormattedDate,,,,,,,,
2014-12-31 23:00:00,1.2,8,0.0,1.8,12,3,23,3.0
2015-01-01 00:00:00,1.2,8,0.0,1.6,1,4,0,11.0
2015-01-01 01:00:00,1.1,8,0.0,1.3,1,4,1,15.0
2015-01-01 02:00:00,1.2,-1,0.0,1.2,1,4,2,20.0
2015-01-01 03:00:00,1.1,-1,0.0,1.0,1,4,3,16.0

In [35]:
df.describe()

,Temperature,TotalCloudCover,PrecipitationHeight,MeanWindSpeed,Month,Weekday,Hour,Rentals
count,17545.000000,17545.000000,17545.000000,17545.000000,17545.000000,17545.000000,17545.000000,17545.000000
mean,11.375611,5.371445,0.061670,3.404087,6.520148,3.008207,11.500655,81.587518
std,7.857857,2.622536,0.429316,2.121874,3.449799,2.000667,6.922731,79.200292
min,-7.200000,-1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,5.100000,3.000000,0.000000,1.800000,4.000000,1.000000,6.000000,21.000000
50%,10.800000,7.000000,0.000000,2.900000,7.000000,3.000000,12.000000,59.000000
75%,16.900000,7.000000,0.000000,4.500000,10.000000,5.000000,18.000000,117.000000
max,38.100000,8.000000,19.100000,18.800000,12.000000,6.000000,23.000000,533.000000

In [36]:
x_train, x_test, y_train, y_test = train_test_split(df[['Temperature','PrecipitationHeight','TotalCloudCover','MeanWindSpeed','Month','Weekday','Hour']], df[['Rentals']], test_size=0.3)

In [37]:
x_test

,Temperature,PrecipitationHeight,TotalCloudCover,MeanWindSpeed,Month,Weekday,Hour
FormattedDate,,,,,,,
2015-10-18 11:00:00,8.0,0.0,8,2.2,10,0,11
2015-06-26 17:00:00,26.0,0.0,8,2.6,6,5,17
2015-01-07 01:00:00,-1.1,0.0,8,2.8,1,3,1
2015-04-22 13:00:00,16.6,0.0,1,3.5,4,3,13
2015-09-02 01:00:00,13.0,0.0,4,2.0,9,3,1
...,...,...,...,...,...,...,...
2015-01-03 03:00:00,1.7,0.0,4,3.1,1,6,3
2015-04-30 03:00:00,5.7,0.0,6,1.2,4,4,3
2016-05-03 07:00:00,13.2,0.0,5,3.6,5,2,7
2016-06-14 07:00:00,15.6,0.5,7,3.8,6,2,7
2016-09-10 05:00:00,16.0,0.0,1,1.5,9,6,5

In [38]:
reg = linear_model.LinearRegression()
reg.fit(x_train,y_train)
#reg.coef_
#reg.intercept_

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
y_pred = reg.predict(x_test)
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

69.23316126308873

In [40]:
Predictions = x_test
Predictions['Actual']=y_test
Predictions['Prediction']=y_pred
Predictions.head(20)

,Temperature,PrecipitationHeight,TotalCloudCover,MeanWindSpeed,Month,Weekday,Hour,Actual,Prediction
FormattedDate,,,,,,,,,
2015-10-18 11:00:00,8.0,0.0,8,2.2,10,0,11,46.0,58.493942
2015-06-26 17:00:00,26.0,0.0,8,2.6,6,5,17,112.0,154.921766
2015-01-07 01:00:00,-1.1,0.0,8,2.8,1,3,1,1.0,4.099531
2015-04-22 13:00:00,16.6,0.0,1,3.5,4,3,13,103.0,112.453115
2015-09-02 01:00:00,13.0,0.0,4,2.0,9,3,1,4.0,77.032675
2015-07-09 06:00:00,14.5,0.0,3,5.5,7,4,6,86.0,95.402834
2016-08-22 04:00:00,12.2,0.0,3,2.9,8,1,4,62.0,75.737541
2015-08-28 00:00:00,18.4,1.9,8,4.2,8,5,0,10.0,76.095560
2015-05-23 04:00:00,15.0,0.0,7,2.7,5,6,4,6.0,89.632284
2016-06-12 19:00:00,16.5,1.8,7,3.3,6,0,19,35.0,86.183431
2016-04-26 10:00:00,6.2,0.0,4,8.7,4,2,10,136.0,59.518669
2015-06-01 22:00:00,10.3,0.0,1,3.5,6,1,22,17.0,94.017383
2016-04-02 16:00:00,15.7,0.0,7,2.4,4,6,16,179.0,108.588194
2016-10-06 23:00:00,11.4,0.0,8,4.2,10,4,23,25.0,98.652210
2015-03-18 00:00:00,9.2,0.0,3,2.3,3,3,0,21.0,56.813121
2015-04-07 10:00:00,9.6,0.0,5,1.5,4,2,10,71.0,67.984763
2015-05-25 02:00:00,14.2,0.0,7,1.3,5,1,2,9.0,73.868967
2015-02-28 09:00:00,2.4,0.0,1,2.9,2,6,9,45.0,45.950453
2015-06-29 06:00:00,18.7,0.0,6,1.1,6,1,6,186.0,101.512019
2016-05-25 06:00:00,11.8,0.0,8,1.0,5,3,6,378.0,70.233990